@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

nav {
  padding-top: 1rem;
  height: 6rem;
  max-width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
}

.responsive-nav {
  display: none;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

.logo {
  height: 6rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

button:hover {
  background-color: rgba(0, 136, 109, 0.8);
}

.container {
  position: absolute;
  top: 0rem;
  bottom: 0;
  left: 0rem;
  right: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../img/curriculum.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  max-height: 100vh;
  z-index: -99;
}

h3 {
  color: #a52a2a;
  font-size: 1.7rem;
  /* font-family: "Lato"; */
  font-family: "Roboto Condensed";
}

.contact-us {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  /* margin-left: 11rem; */
}

.form-container {
  width: 40%;
}

.adjacent {
  width: 32rem;
  height: 22rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 2rem 0 2rem;
  line-height: 4.1rem;
  letter-spacing: 0.4px;
}

.form-inner {
  padding: 30px;
}

h1 {
  font-weight: normal;
  padding: 20px;
  color: #fff;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.input-holder {
  position: relative;
  margin-bottom: 25px;
}

input::placeholder,
textarea::placeholder {
  padding-left: 1rem;
  color: #fff;
}

.input-text,
textarea {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  color: #fff;
}

textarea {
  min-height: 130px;
  padding: 15px 0;
}

.label {
  position: absolute;
  left: 0rem;
  pointer-events: none;
  transition: 0.2s ease all;
  font-size: 16px;
  color: #fff;
  top: -18px;
}

button {
  cursor: pointer;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 16px;
  background: transparent;
  color: #fff;
  transition: 0.2s ease;
  background-color: #137cf3f6;
}

button:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
}

button:focus {
  outline: 0;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

textarea:focus ~ .label,
input:focus ~ .label {
  top: -10px;
  left: 0;
  font-size: 11px;
}

.information,
.information:visited {
  color: #a52a2a;
  font-size: 1.1rem;
  font-weight: 500;
}

.icon-contact {
  position: absolute;
  top: 10px;
  left: -64px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.icon-reach {
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
}

.icon:hover {
  color: rgba(168, 163, 221, 0.596);
}

@media (max-width: 1000px) {
  .flex {
    display: none;
  }

  h3 {
    margin-top: 1.5rem;
  }

  .contact-us {
    height: 100vh;
    margin-top: 0;
  }

  .responsive-nav {
    display: flex;
    background-color: #a52a2a;
    height: 55px;
  }
  .responsive-logo {
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    margin-left: 0.8rem;
    height: 3rem;
    position: relative;
    top: -6px;
  }

  .show {
    visibility: visible;
  }

  .column-wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 10000;
  }
  .column {
    position: absolute;
  }

  .mobile-links {
    display: flex;
    width: 13rem;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    /* transform: translate3d(150%, 0%, 0); */

    transition: all 0.6s ease-out;
    background-color: #a52a2a;
    z-index: 100000;
    display: none;
    position: relative;
  }
  .update {
    height: 3.2rem;
    background-color: rgb(233, 230, 230);
  }

  .nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
    width: 100%;
  }

  .nav-item:first-child {
    margin-top: 0.2rem;
    border-top: none;
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;

    margin-left: 1rem;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }
  .show {
    /* transform: translate3d(0, 0, 0); */
    display: flex;
    animation-duration: 0.5s;
    animation-name: slidein;
    opacity: 1;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: relative;
    top: -14px;
    right: 0;
    opacity: 1;
    visibility: visible;
    z-index: 100000;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 5px;
    top: 5px;
    margin-right: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.575);
    background-color: rgb(26, 56, 153); */
    transition: all 0.4s ease-in;
  }

  .flex {
    display: none;
  }
  .responsive-title {
    position: relative;
    top: 6px;
    width: 100%;
    height: 3rem;
    align-items: center;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 18px;
    top: -10px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: -17px;
    color: rgb(219, 219, 22);
  }
  .active-responsive {
    background-color: rgba(2, 2, 2, 0.589);
  }

  .form-container {
    display: none;
  }

  .adjacent {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0 2rem 0 2rem;
    line-height: 4.1rem;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 1rem;
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .adjacent {
    font-size: 14px;
    padding-left: 2rem;
  }
}

@media (max-width: 430px) {
  .mobile-head {
    font-size: 16px;
  }
  .mobile-head-footer {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
}
.close {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}
.close .line:first-child {
  transform: rotate(45deg) translate(5px, 8px);
  transition: all 0.4s ease-in;
}
.close .line:nth-child(2) {
  opacity: 0;
}
.close .line:last-child {
  transform: rotate(-45deg) translate(4px, -8px);
  transition: all 0.4s ease-in;
}

@keyframes slidein {
  from {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }
  99% {
    opacity: 0.9;
  }

  to {
    opacity: 1;
  }
}

* {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.5px;
}
