@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(./Cabin_Sketch/CabinSketch-Regular.ttf);
}

body {
  position: relative;
  overflow: hidden;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #137cf3f6;
  text-decoration: none;
}

.nav {
  width: 100%;
  height: 5rem;
  background-color: transparent;
}

.position {
  position: absolute;
  display: inline-block;
  left: 10rem;
}
.nav2 {
  position: absolute;
  display: inline-block;
  right: 15.5rem;
}

.nav a {
  font-weight: bold;
}

.logo {
  cursor: pointer;
  position: absolute;
  left: 44%;
  height: 4rem;
  width: auto;
  padding: 0;
  margin: 0;
  top: 7px;
  /*left: 50%; */
}

.list {
  position: relative;
}

.list-fix {
  margin-left: -6rem;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 30px 5px;
  margin-right: 3rem;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  font-size: 20px;
}
.heya::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 1.5rem;
  width: 95%;
  height: 3px;
  background: currentColor;
  transform: scale(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.nav__links li a:hover::after {
  transform: scale(1);
  transform-origin: left;
}

button:hover {
  background-color: rgba(0, 136, 109, 0.8);
}

.container {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.418),
      rgba(0, 0, 0, 0.876)
    ),
    url(bpic.jpg);
  height: 100vh;
  z-index: -99;
}

img {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.text {
  display: flex;
  position: fixed;
  bottom: 0px;
  font-size: small;
  justify-content: space-between;
  padding: 1.5rem 11rem;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0e9e9;
}

.intext {
  width: 27%;
  position: relative;
}

.icon {
  font-size: 45px;
}
.icon-learn {
  color: #137cf3f6;
}
.icon-play {
  color: rgba(240, 29, 29, 0.979);
}
.icon-meal {
  color: rgb(53, 155, 22);
}

.a,
.b,
.c {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
}
.a {
  left: 2.7rem;
  top: -2rem;
  text-transform: uppercase;
  color: #137cf3f6;
}

.c {
  color: rgb(53, 155, 22);
  left: 2.5rem;
  top: -1.8rem;
}

.flexing {
  display: flex;
}

.text-icon2 {
  position: relative;
  top: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 0;
  margin-left: 1rem;
  padding: 0;
}

.b {
  color: rgba(240, 29, 29, 0.979);
}
.fix {
  position: relative;
  margin-top: 1.3rem;
}

.message {
  position: fixed;
  top: 25%;
  left: 56%;
  color: white;
  font-family: "myFirstFont";
  font-size: 3rem;
  color: #137cf3f6;
}
.message-short {
  color: white;
  font-family: "myFirstFont";
  font-size: 4.5rem;
  color: #137cf3f6;
}

.message-long {
  display: block;
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding-top: 1.5rem;
  color: white;
  width: 80%;
  line-height: 1.9rem;
  letter-spacing: 0.7px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 200px;
}

.btn:hover,
.btn:active {
  color: white;
}

.full:link,
.full:visited {
  background-color: rgb(35, 74, 202);
  color: whitesmoke;
}

.ghost:link,
.ghost:visited {
  border: 2.5px solid rgb(35, 74, 202);
}
