@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.footer-info {
  display: none;
}

@font-face {
  font-family: myFirstFont;
  src: url(./Cabin_Sketch/CabinSketch-Regular.ttf);
}
@font-face {
  font-family: gothic;
  src: url(./league-gothic-master/league-gothic-master/LeagueGothic-Regular.otf);
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding-top: 1rem;
  height: 6rem;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
}

.responsive-nav {
  display: none;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

.logo {
  position: relative;
  left: 4%;
  height: 5rem;
}

.altered {
  position: relative;
  color: black;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.container-original {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  bottom: 0rem;
  right: 0;
  left: 0;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.418),
      rgba(0, 0, 0, 0.876)
    ),
    url(img/backgrounds/study2.jpg);
  height: 125vh;
  z-index: -99;
  margin-top: 0rem;
  background-repeat: repeat-y;
}

.message {
  display: flex;
  flex-direction: column;
  right: 0;
  max-width: 50rem;
  margin-top: 4rem;
  margin-left: 45px;
}
.message-short {
  font-family: "myFirstFont";
  font-size: 3rem;
  letter-spacing: 2px;
  color: #137cf3f6;
  margin-left: 38px;
  margin-top: -40px;
  margin-bottom: 30px;
}

.message-long {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
  color: white;
  width: 75%;
  line-height: 1.8rem;
  letter-spacing: 0.7px;
}

.message-long-wide {
  color: white;
  line-height: 36px;

  font-size: 17px;
  margin-left: 42px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  margin-top: 3rem;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 200px;
  color: white;
  margin-left: 31px;
}

.btn:hover,
.btn:active {
  color: white;
}

.full:link,
.full:visited {
  /* background-color: rgb(35, 74, 202); */
  background-color: #a52a2a;
  color: whitesmoke;
}

.ghost:link,
.ghost:visited {
  border: 1.5px solid #a52a2a;
}

.ghost:hover {
  background-color: #484943;
}

.text {
  display: flex;
  position: fixed;
  color: white;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.671);
}
.location-map {
  position: relative;
  /* left: 15rem; */
}

.mobile {
  display: none;
}
.container {
  display: none;
}

.back-to-school {
  display: none;
}

.footer {
  display: none;
}
.message-long-narrow {
  display: none;
}

.btn-btn {
  position: relative;
  padding: 12px 22px;
  display: inline-block;
  margin: 40px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: rgb(225, 225, 225);
}

.details a:nth-child(1) {
  margin-right: 4rem;
  margin-left: 2rem;
  color: black;
}
.details a:nth-child(2) {
  background: linear-gradient(90deg, rgb(39, 168, 237), #165cf2);
  /* padding: 12px 30px; */
}

@media (max-width: 1000px) {
  .message {
    display: none;
  }
  body {
    background-color: rgb(233, 233, 233);
  }

  .message {
    margin: auto;
    max-width: none;
  }

  .message-long-wide {
    display: none;
    position: relative;
  }
  .message-long-narrow {
    display: block;
    position: relative;
    text-align: center;
    line-height: 35px;
    color: rgb(47, 47, 47);
    font-size: 20px;
    padding-right: 13px;
    padding-left: 13px;
    width: 100%;
  }

  .dark {
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.623);
    transition: 0.2s ease-in;
    z-index: 1000;
  }

  .footer-info {
    display: block;
    background-color: #333333;
    padding: 48px 2rem;
    color: rgb(255, 255, 255, 0.6);
    text-align: center;
  }

  .footer-title {
    padding-top: 1rem;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 0.6px;
    font-weight: 700;
    color: white;
  }

  .footer-line {
    position: relative;
    margin-top: -5px;
    font-size: 18px;
  }

  .mobile {
    display: inline-block;
    position: relative;

    background: #972727;

    padding: 1.5rem;
    padding-bottom: 3px;
    width: 100%;
  }

  .mobile-center {
    position: relative;
    /* color: rgb(29, 28, 28); */
    color: rgba(252, 252, 252, 0.8);
  }

  .mobile p {
    position: relative;
    font-size: 18px;
    letter-spacing: 0.7px;
    padding-top: 0;
    line-height: 1.8rem;
  }

  .mobile-center span {
    font-weight: 600;
    color: rgba(252, 252, 252, 0.9);
  }

  .two {
    top: -11px;
  }

  .three {
    margin-bottom: -43px;
    top: -23px;
  }

  .back-to-school {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  .search {
    position: relative;
    font-size: 2rem;
    color: orange;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .covid {
    margin: auto;
    padding: 3rem 0 4rem;
    background-color: #cfcfcf;
  }

  .covid p {
    text-align: center;
    font-size: 26px;
  }
  #nav_slide {
    visibility: hidden;
  }

  .back {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
  }

  .covid .info {
    margin-top: 1rem;
    font-size: 18px;
  }

  .details {
    position: relative;
    margin: auto;
    top: -1rem;
  }

  .ghost:link,
  .ghost:visited {
    color: #a52a2a;
    font-weight: 500;
  }

  .container-original {
    transform: scaleX(1);
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.561),
        rgba(0, 0, 0, 0.876)
      ),
      url(img/backgrounds/abc.jpg);
    background-image: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .location-map {
    position: relative;
  }
  .hide {
    display: none;
  }
  .responsive-nav {
    display: flex;
    position: relative;
    background-color: #a52a2a;
    height: 55px;
  }
  .responsive-logo {
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    margin-left: 0.8rem;
    height: 3rem;
    position: relative;
    top: -6px;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

    opacity: 1;
    visibility: visible;
    z-index: 100000;
  }
  .flex {
    display: none;
  }
  .responsive-title {
    position: relative;
    top: 11px;
    width: 100%;
    height: 3rem;
    align-items: center;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 18px;
    top: -18px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: -23px;
    color: rgb(219, 219, 22);
  }
  .active-responsive {
    background-color: rgba(2, 2, 2, 0.589);
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    transition: all 0.4s ease-in;
    padding: 5px;
    top: 8px;
    margin-right: 5px;
  }
  .nav__links,
  .nav__links2 {
    display: none;
  }

  .message {
    display: none;
  }

  .message {
    display: flex;
    /* flex-direction: column; */
    right: 0;
    /* max-width: 40rem; */
    justify-content: center;
    margin-top: 5rem;
    margin-left: 0;
    padding-top: 1rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .message-short {
    margin-left: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: -6rem;
    color: #3f3e3e;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    padding: 2rem 0.5rem 2rem;
    background-color: rgb(233, 233, 233);
  }

  .message-long {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 12px;
  }

  .show {
    visibility: visible;
  }
  .column {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
  }

  .mobile-links {
    display: flex;
    width: 13rem;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    transition: all 0.6s ease-out;
    /* background-color: rgb(35, 74, 202); */
    background-color: #c03131e1;
    z-index: 100000;
    display: none;
    position: relative;
  }
  .update {
    height: 3.2rem;
    background-color: rgb(233, 230, 230);
  }

  .nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
    width: 100%;
  }

  .nav-item:first-child {
    margin-top: 0rem;
    border-top: none;
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }
  .show {
    /* transform: translate3d(0, 0, 0); */
    display: flex;
    animation-duration: 0.5s;
    animation-name: slidein;
    opacity: 1;
  }

  .close {
    transform: rotate(180deg);
    transition: all 0.4s ease-in;
  }
  .close .line:first-child {
    transform: rotate(45deg) translate(5px, 8px);
    transition: all 0.4s ease-in;
  }
  .close .line:nth-child(2) {
    opacity: 0;
  }
  .close .line:last-child {
    transform: rotate(-45deg) translate(4px, -8px);
    transition: all 0.4s ease-in;
  }
}

.school-name {
  display: block;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.motto {
  font-weight: bold;
  font-size: 1.4rem;
}

@media (max-width: 435px) {
  .mobile-head-footer {
    font-size: 11px;
  }
  .message-short {
    font-size: 43px;
  }
}

@media (max-width: 400px) {
  .mobile-head-footer {
    font-size: 10px;
  }
  .message-short {
    font-size: 36px;
  }
  .message-long {
    width: 100%;
  }
}
@media (max-width: 378px) {
  .btn:link,
  .btn:visited {
    margin-left: 10px;
  }
}

@media (max-width: 370px) {
  .ghost:link,
  .ghost:visited {
    margin-top: 1rem;
  }
  .message-long {
    width: 100%;
    margin-top: -1rem;
  }
  .message-short {
    width: 100%;
    margin-top: -5rem;
  }

  .mobile-head-footer {
    font-size: 10px;
  }
  .message-short {
    font-size: 33px;
  }
  .message-long {
    font-size: 14px;
  }
  .btn:link,
  .btn:visited {
    display: inline-block;
    margin-top: 3rem;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
  }
}
@media (max-width: 333px) {
  .message-short {
    font-size: 30px;
  }

  .mobile-head {
    font-size: 14px;
  }

  .mobile-center .mobile-info-details {
    font-size: 14px;
  }
}

@media (max-width: 321px) {
  .message-long {
    line-height: 25px;
    width: 100%;
  }

  .message-short {
    font-size: 30px;
  }
}

@keyframes slidein {
  from {
    opacity: 0.1;
  }

  99% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  #i1,
  #i2,
  #i3,
  #i4,
  #i5 {
    display: none;
  }

  .details {
    display: none;
  }

  .container {
    display: block;
    margin: 0 auto;
    z-index: -100;
    position: relative;
    width: 70%;
    height: 0;
    padding-bottom: 38%;
    user-select: none;
    background-color: #1c1c1c;
    border: solid 10px #616161;
    border-radius: 10px;
  }

  .container .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .container .slide_img img {
    width: inherit;
    height: inherit;
  }

  .prev,
  .next {
    width: 12%;
    height: inherit;
    position: absolute;
    top: 0;
    background-color: rgba(27, 27, 27, 0.3);
    color: rgba(244, 244, 244, 0.9);
    z-index: 99;
    transition: 0.45s;
    cursor: pointer;
    text-align: center;
  }

  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }

  label span {
    position: absolute;
    font-size: 100pt;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev:hover,
  .next:hover {
    transition: 0.3s;
    background-color: rgba(88, 88, 89, 0.8);
    color: #ffffff;
  }

  .container #nav_slide {
    width: 100%;
    bottom: 12%;
    height: 11px;
    position: absolute;
    text-align: center;
    z-index: 99;
    cursor: default;
  }

  #nav_slide .dots {
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.4s;
  }

  #nav_slide .dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.25s;
  }

  .slide_img {
    z-index: -1;
  }

  #i1:checked ~ #one,
  #i2:checked ~ #two,
  #i3:checked ~ #three,
  #i4:checked ~ #four,
  #i5:checked ~ #five {
    z-index: 9;
    animation: scroll 0.8s ease-in-out;
  }

  #i1:checked ~ #nav_slide #dot1,
  #i2:checked ~ #nav_slide #dot2,
  #i3:checked ~ #nav_slide #dot3,
  #i4:checked ~ #nav_slide #dot4,
  #i5:checked ~ #nav_slide #dot5 {
    background-color: rgba(255, 255, 255, 0.9);
  }

  @keyframes scroll {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

.galleries {
  margin-top: 3rem;
  color: white;
  text-align: center;
}

.gallery-span {
  text-transform: uppercase;
}

.icon {
  font-size: 2rem;
  padding: 0.5rem;
  color: rgb(255, 255, 255, 0.6);
}

.message-long {
  font-family: "Montserrat", sans-serif;
}

.altered {
  position: relative;
  top: 5px;
  color: rgb(221, 220, 220);
}

.paragraph-1 {
  padding-top: 1px;
}
.paragraph-2 {
  padding-top: 10px;
}

.message-long-narrow br {
  content: "";
  display: block;
  margin: 0.2rem;
}
