@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(./Cabin_Sketch/CabinSketch-Regular.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

nav {
  padding-top: 1rem;
  height: 6rem;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

.nav__links {
  margin-left: 4rem;
}
.nav__links2 {
  margin-right: 4rem;
}

.logo {
  height: 6rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.container {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.418),
      rgba(0, 0, 0, 0.876)
    ),
    url(img/backgrounds/study2.jpg);
  height: 100vh;
  z-index: -99;
  margin-top: 0rem;
}

.message {
  display: flex;
  flex-direction: column;
  right: 0;
  max-width: 40rem;
  margin-top: 6rem;
  margin-left: 4rem;
}
.message-short {
  color: white;
  font-family: "myFirstFont";
  font-size: 4rem;
  color: #137cf3f6;
}

.message-long {
  display: block;
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding-top: 1.5rem;
  color: white;
  width: 80%;
  line-height: 1.9rem;
  letter-spacing: 0.7px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  margin-top: 3rem;
  padding: 10px 30px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 200px;
  color: white;
}

.btn:hover,
.btn:active {
  color: white;
}

.full:link,
.full:visited {
  background-color: rgb(35, 74, 202);
  color: whitesmoke;
}

.ghost:link,
.ghost:visited {
  border: 1.5px solid #0082e6;
}

.text {
  display: flex;
  position: fixed;
  color: white;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.671);
}

@media (max-width: 500px) {
  .hide {
    visibility: hidden;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0.95;
    visibility: visible;
    z-index: 100000;
  }

  nav {
    position: relative;
    height: 3rem;
    background-color: rgb(35, 68, 173);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .responsive-logo {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -12px;
    padding-left: 1.5rem;
  }
  .logo {
    height: 2.5rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
  }
  .nav__links,
  .nav__links2 {
    display: none;
  }

  .message {
    margin-left: 1.5rem;
  }
  .message-short {
    font-size: 3rem;
    margin-top: -3rem;
  }

  .message-long {
    font-size: 1rem;
  }
  .grey {
    opacity: 0.5;
  }

  .responsive-title {
    height: 3rem;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 17px;
    top: -10px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 11px;
    top: -15px;
    color: rgb(219, 219, 22);
  }
  /* .mobile-links {
    display: inline-block;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
  } */
  .show {
    visibility: visible;
  }
  .column {
    display: flex;
    justify-content: flex-end;
  }

  .mobile-links {
    display: flex;
    width: 60%;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    transform: translate3d(0, -110%, 0);
    transition: all 0.9s ease-out;
    background-color: rgb(35, 74, 202);
    z-index: 1000;
    opacity: 1;
    position: relative;
  }
  .update {
    height: 3.2rem;
    background-color: rgb(233, 230, 230);
  }

  .nav-item {
    color: black;
    width: 100%;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    font-size: 1.3rem;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
  }

  .nav-item:first-child {
    margin-top: 0.2rem;
    border-top: none;
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;
    top: 11px;
    text-transform: uppercase;
    font-size: 18px;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }
  .show {
    transform: translate3d(0, 0, 0);
  }
}

.location-map {
  position: relative;
  left: 15rem;
}
