@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(34, 34, 34);
  background-image: url(../../img/backgrounds/abc.jpg);
}
html,
body {
  padding-top: 0.5rem;
  width: 100%;
  height: 120%;
  margin: 0;
}

.container {
  margin: 0 auto;
  /* margin-top: 5rem; */
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 40%;
  background: #4c4c4c;
  border: solid 10px #b53838;
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide_img img {
  width: 100%;
  height: 100%;
}

#i1,
#i2,
#i3,
#i4,
#i5 {
  display: none;
}

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;

  background-color: rgba(237, 46, 46, 0.2);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
}
.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  background-color: rgba(240, 150, 53, 0.268);
  color: #ffffff;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.responsive-nav {
  display: none;
}
.galleries {
  display: none;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

.flex {
  height: 6rem;
  max-width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  height: 5rem;
}

.nav__links-li {
  display: inline-block;
  margin: 40px 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.sub-menu {
  display: none;
}

.sub-menu li {
  margin: 40px 5px;
  text-align: center;
}
.sub-menu li a {
  margin: 40px 5px;
  text-align: center;
  color: white;
}

nav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  margin-top: 6px;
  z-index: 1000;
  background-color: rgba(9, 9, 51, 0.789);
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

button:hover {
  background-color: #1a9bff;
}

.list {
  margin-top: 10rem;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.close {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}
.close .line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
  transition: all 0.4s ease-in;
}
.close .line:nth-child(2) {
  opacity: 0;
}
.close .line:last-child {
  transform: rotate(-45deg) translate(7px, -8px);
  transition: all 0.4s ease-in;
}

.hamburger {
  transition: all 0.4s ease-in;
}

@keyframes slidein {
  from {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
.responsive {
  display: none;
}

@media (max-width: 1000px) {
  .galleries {
    display: block;
    margin-top: 3rem;
    color: white;
    text-align: center;
    font-size: 1.1rem;
  }
  .responsive {
    display: block;
  }
  .wide {
    display: none;
  }

  .responsive-nav {
    display: flex;

    background-color: #a52a2a;
    height: 55px;
  }

  .carousel-responsive {
    position: relative;
  }
  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .responsive-logo {
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    margin-left: 0.8rem;
    height: 3rem;
    position: relative;
    top: 2px;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;

    opacity: 1;
    visibility: visible;
    z-index: 100000;
  }
  .flex {
    display: none;
  }
  .responsive-title {
    position: relative;
    top: 11px;
    width: 100%;
    height: 3rem;
    align-items: center;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 18px;
    top: -1px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: -6px;
    color: rgb(219, 219, 22);
  }
  .active-responsive {
    background-color: rgba(2, 2, 2, 0.589);
  }
  /* .hamburger-container {
    position: absolute;
    background-color: black;
  } */
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    transition: all 0.4s ease-in;
    padding: 5px;
    top: 7px;
    margin-right: 5px;
    /* border: 1px solid rgba(0, 0, 0, 0.575); */
    /* background-color: rgb(26, 56, 153); */
  }

  .column {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
  }

  .mobile-links {
    display: flex;
    width: 13rem;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    transition: all 0.6s ease-out;
    /* background-color: rgb(35, 74, 202); */
    background-color: #a52a2a;
    z-index: 10000000;
    display: none;
    position: relative;
  }

  .nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
    width: 100%;
  }

  .nav-item:first-child {
    margin-top: 0rem;
    border-top: none;
  }
  .nav-item:last-child {
    margin-top: 0rem;

    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }

  .update {
    background-color: white;
  }
  .show {
    /* transform: translate3d(0, 0, 0); */
    display: flex;
    animation-duration: 0.5s;
    animation-name: slidein;
    opacity: 1;
  }

  .close {
    transform: rotate(180deg);
    transition: all 0.4s ease-in;
  }
  .close .line:first-child {
    transform: rotate(45deg) translate(5px, 8px);
    transition: all 0.4s ease-in;
  }
  .close .line:nth-child(2) {
    opacity: 0;
  }
  .close .line:last-child {
    transform: rotate(-45deg) translate(4px, -8px);
    transition: all 0.4s ease-in;
  }
}
@media (max-width: 435px) {
  .mobile-head {
    font-size: 16px;
  }
  .mobile-head-footer {
    font-size: 11px;
  }
  .message-short {
    font-size: 43px;
  }
  .message-long {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
  .message-short {
    font-size: 39px;
  }
  .message-long {
    font-size: 16px;
    width: 95%;
  }
}

@media (max-width: 370px) {
  .ghost:link,
  .ghost:visited {
    margin-top: 1rem;
  }
  .message-long {
    width: 95%;
    margin-top: -1rem;
  }
  .message-short {
    width: 95%;
    margin-top: -5rem;
  }
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
  .message-short {
    font-size: 33px;
  }
  .message-long {
    font-size: 14px;
  }
  .btn:link,
  .btn:visited {
    display: inline-block;
    margin-top: 3rem;
    padding: 10px 20px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
  }
}
@media (max-width: 332px) {
  .message-short {
    font-size: 32px;
  }
}

@media (max-width: 321px) {
  .message-long {
    line-height: 25px;
    width: 98%;
  }
}

@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}

.gallery-span {
  text-transform: uppercase;
}

.activities {
  margin-top: 1rem;
}

.activities a:visited,
.activities a:link {
  margin-bottom: 0.5rem;
  color: white;
}
.focus {
  background-color: rgb(202, 202, 202);
}

.focus li a:visited,
.focus li a:link {
  color: black;
  font-weight: 700;
}

.activities .focus-a:visited,
.activities .focus-a:link {
  color: black;
  font-weight: 600;
}

* {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}
