@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../img/curriculum.jpg);
}

.responsive-nav {
  display: none;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

nav {
  padding-top: 1rem;
  height: 6rem;
  max-width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.logo {
  height: 6rem;
}

.nav__links {
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.b-container {
  position: absolute;
  top: 0;
  bottom: -80rem;
  left: 0;
  right: 0;

  background-size: cover !important;
  background-position: center;
  z-index: -99;
}

.right {
  margin-left: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-container {
  position: relative;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  width: 28rem;
  display: inline-block;
  transition: transform 0.3s ease-in;
  border-radius: 5px;
  margin-bottom: 4rem;
  margin-top: 0rem;
  margin-right: 1rem;
}

.activity-container img {
  width: 100%;
  border-radius: 5px;
}

.text {
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: block;
  bottom: -28px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden-text {
  position: absolute;
  width: 30rem;
  height: 112%;
  padding: 2rem 1rem;
  user-select: none;
  text-align: center;
  display: block;
  bottom: -28px;
  background-color: #f55b75;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 500;
}

.a {
  background-image: linear-gradient(to bottom, #f953c6, #b91d73);
}
.b {
  /* background-color: #004c97; */
  background-image: linear-gradient(to bottom, #373b44, #4286f4);
}
.c {
  background-image: linear-gradient(to bottom, #419573, #32ad8b);
}

.d {
  background-image: linear-gradient(to bottom, #5f0a87, #a4508b);
}

.sub-text {
  position: relative;
  bottom: 3rem;
}
.head {
  margin-bottom: 5rem;
  border-bottom: 1px dotted #fff;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.hidden-text:hover {
  opacity: 1;
  border: 1px;
  border-radius: 5px;
}

.activity-container:hover {
  transform: scale(1.01);
  border: 1px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .flex {
    display: none;
  }

  .responsive-nav {
    display: flex;
    background-color: rgb(32, 68, 185);
    height: 4.5rem;
  }
  .responsive-logo {
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    margin-left: 0.8rem;
  }
  .responsive-logo {
    display: inline-block;
    height: 3rem;
    position: relative;
    top: -2px;
  }

  .show {
    visibility: visible;
  }

  .column-wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 10000;
    margin-top: -3rem;
  }
  .column {
    position: absolute;
  }

  .mobile-links {
    display: flex;
    width: 13rem;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    /* transform: translate3d(150%, 0%, 0); */
    transition: all 0.6s ease-out;
    background-color: rgb(35, 74, 202);
    z-index: 100000;
    display: none;
    position: relative;
  }
  .update {
    height: 3.2rem;
    background-color: rgb(233, 230, 230);
  }

  .nav-item {
    height: 70px;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
    width: 100%;
  }

  .nav-item:first-child {
    margin-top: 0.2rem;
    border-top: none;
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;
    top: 24px;
    margin-left: 1rem;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }
  .show {
    display: flex;
    /* transform: translate3d(0, 0, 0); */
    animation-duration: 0.5s;
    animation-name: slidein;
    opacity: 1;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: relative;
    top: -14px;
    right: 0;
    width: 20%;
    opacity: 1;
    visibility: visible;
    z-index: 100000;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 5px;
    top: 16px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.575);
    background-color: rgb(26, 56, 153);
    transition: all 0.4s ease-in;
  }

  .flex {
    display: none;
  }
  .responsive-title {
    position: relative;
    top: 6px;
    width: 100%;
    height: 3rem;
    align-items: center;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 18px;
    top: -6px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: -12px;
    color: rgb(219, 219, 22);
  }
  .container {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  .activity-container {
    position: relative;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;

    display: inline-block;
    transition: transform 0.3s ease-in;
    border-radius: 5px;
    margin-bottom: 5rem;
    margin-top: 0rem;
    margin-right: 1rem;
  }

  .activity-container:first-child {
    margin-top: 3rem;
  }
  .activity-container:last-child {
    margin-top: 1rem;
  }
  .right {
    margin-left: 0;
  }
  .active-responsive {
    background-color: rgba(24, 24, 24, 0.493);
  }
  .sub-text {
    position: relative;
    width: 100%;
    bottom: 87px;
  }
  .hidden-text {
    position: absolute;
    width: 100%;
    height: 125%;
    padding: 2rem 1rem;
    user-select: none;
    text-align: center;
    display: block;
    bottom: -24px;
    background-color: #f55b75;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    font-family: "M PLUS Rounded 1c", sans-serif;
    letter-spacing: 1px;
    line-height: 2rem;
    font-weight: 500;
  }

  .head {
    position: relative;
    top: -21px;
  }
}

@media (max-width: 500px) {
  .activity-container {
    width: 100%;
  }
  .active-responsive {
    background-color: rgba(24, 24, 24, 0.493);
  }
}
@media (max-width: 600px) {
  .activity-container {
    width: 100%;
  }
  .active-responsive {
    background-color: rgba(24, 24, 24, 0.493);
  }
}

@media (max-width: 430px) {
  .mobile-head {
    font-size: 16px;
  }
  .mobile-head-footer {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
}
@media (max-width: 347px) {
  .hidden-text {
    font-size: 14`px;
    line-height: 28px;
  }
}

.close {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}
.close .line:first-child {
  transform: rotate(45deg) translate(5px, 8px);
  transition: all 0.4s ease-in;
}
.close .line:nth-child(2) {
  opacity: 0;
}
.close .line:last-child {
  transform: rotate(-45deg) translate(4px, -8px);
  transition: all 0.4s ease-in;
}

@keyframes slidein {
  from {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
