@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../img/curriculum.jpg);
}

nav {
  padding-top: 1rem;
  height: 6rem;
  max-width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

.logo {
  height: 6rem;
}

.nav__links {
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.b-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-size: cover !important;
  background-position: center;
  z-index: -99;
}

.right {
  margin-left: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-container {
  position: relative;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  width: 28rem;
  display: inline-block;
  transition: transform 0.3s ease-in;
  border-radius: 10px;
  margin-bottom: 4rem;
  margin-top: 0rem;
  margin-right: 1rem;
}

.activity-container img {
  width: 100%;
  border-radius: 10px;
}

.text {
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  display: block;
  bottom: -28px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden-text {
  position: absolute;
  width: 30rem;
  height: 112%;
  padding: 2rem 1rem;
  user-select: none;
  text-align: center;
  display: block;
  bottom: -28px;
  background-color: #f55b75;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  font-family: "M PLUS Rounded 1c", sans-serif;
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 500;
}

.a {
  background-image: linear-gradient(to bottom, #f953c6, #b91d73);
}
.b {
  /* background-color: #004c97; */
  background-image: linear-gradient(to bottom, #373b44, #4286f4);
}
.c {
  background-image: linear-gradient(to bottom, #419573, #32ad8b);
}

.d {
  background-image: linear-gradient(to bottom, #5f0a87, #a4508b);
}

.sub-text {
  position: relative;
  bottom: 3rem;
}
.head {
  margin-bottom: 5rem;
  border-bottom: 1px dotted #fff;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.hidden-text:hover {
  opacity: 1;
  border: 1px;
  border-radius: 15px;
}

.activity-container:hover {
  transform: scale(1.01);
  border: 1px;
  border-radius: 15px;
}
