@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(./Cabin_Sketch/CabinSketch-Regular.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding-top: 1rem;
  height: 6rem;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
}

.responsive-nav {
  display: none;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

.logo {
  height: 6rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
.container {
  transform: scaleX(-1);
  position: absolute;
  top: 0rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    ),
    url(../../img/bg3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -99;
}

.overlay {
  position: relative;
  display: flex;
  top: 5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 25rem;
  justify-content: center;
}

.text {
  position: absolute;
  width: 75%;
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 2.3rem;
  top: 2rem;
  bottom: 0;
  color: white;
  font-size: 1.3rem;
  overflow: hidden;
}

.li-list {
  position: relative;
}

li img {
  position: absolute;
  top: 5px;
  height: 25px;
}

li p {
  position: relative;
  left: 35px;
}

li img {
  color: black;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .flex {
    display: none;
  }

  .responsive-nav {
    display: flex;
    background-color: rgb(32, 68, 185);
    height: 4.5rem;
  }
  .responsive-logo {
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    margin-left: 0.8rem;
  }
  .responsive-logo {
    display: inline-block;
    height: 3rem;
    position: relative;
    top: -2px;
  }

  .show {
    visibility: visible;
  }

  .column-wrapper {
    display: flex;
    justify-content: flex-end;
    z-index: 10000;
  }
  .column {
    position: absolute;
  }

  .mobile-links {
    display: flex;
    width: 13rem;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    /* transform: translate3d(150%, 0%, 0); */
    transition: all 0.6s ease-out;
    background-color: rgb(35, 74, 202);
    z-index: 100000;
    display: none;
    position: relative;
  }
  .update {
    height: 3.2rem;
    background-color: rgb(233, 230, 230);
  }

  .nav-item {
    height: 70px;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
    width: 100%;
  }

  .nav-item:first-child {
    margin-top: 0.2rem;
    border-top: none;
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;
    top: 24px;
    margin-left: 1rem;

    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }
  .show {
    /* transform: translate3d(0, 0, 0); */
    display: flex;
    animation-duration: 0.5s;
    animation-name: slidein;
    opacity: 1;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: relative;
    top: -14px;
    right: 0;
    width: 20%;
    opacity: 1;
    visibility: visible;
    z-index: 100000;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding: 5px;
    top: 16px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.575);
    background-color: rgb(26, 56, 153);
    transition: all 0.4s ease-in;
  }

  .flex {
    display: none;
  }
  .responsive-title {
    position: relative;
    top: 6px;
    width: 100%;
    height: 3rem;
    align-items: center;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 18px;
    top: -5px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: -10px;
    color: rgb(219, 219, 22);
  }
  .active-responsive {
    background-color: rgba(24, 24, 24, 0.493);
  }

  .overlay {
    position: relative;
    display: flex;
    top: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100rem;
    justify-content: center;
  }

  .text {
    width: 95%;
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .mobile-head {
    font-size: 16px;
  }
  .mobile-head-footer {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .mobile-head {
    font-size: 14px;
  }
  .mobile-head-footer {
    font-size: 10px;
  }
}

.close {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}
.close .line:first-child {
  transform: rotate(45deg) translate(5px, 8px);
  transition: all 0.4s ease-in;
}
.close .line:nth-child(2) {
  opacity: 0;
}
.close .line:last-child {
  transform: rotate(-45deg) translate(4px, -8px);
  transition: all 0.4s ease-in;
}
@keyframes slidein {
  from {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
