@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url(./Cabin_Sketch/CabinSketch-Regular.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding-top: 1rem;
  height: 6rem;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
}

.logo {
  height: 6rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
.container {
  transform: scaleX(-1);
  position: absolute;
  top: 0rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0)
    ),
    url(../../img/bg3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -99;
}

.overlay {
  position: relative;
  display: flex;
  top: 5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 25rem;
  justify-content: center;
}

.text {
  position: absolute;
  width: 75%;
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 1px;
  line-height: 2.3rem;
  top: 2rem;
  bottom: 0;
  color: white;
  font-size: 1.3rem;
  overflow: hidden;
}

.li-list {
  position: relative;
}

li img {
  position: absolute;
  top: 5px;
  height: 25px;
}

li p {
  position: relative;
  left: 35px;
}

li img {
  color: black;
}
