* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  background-color: black;
}

.responsive-nav {
  display: none;
}

.mobile-head {
  display: none;
}
.mobile-head-footer {
  display: none;
}
.mobile-links {
  display: none;
}
.menu {
  display: none;
}

.flex {
  height: 6rem;
  max-width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-evenly;
}

.logo {
  height: 5rem;
}

.nav__links-li {
  display: inline-block;
  margin: 40px 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.sub-menu {
  display: none;
}

.sub-menu li {
  margin: 40px 5px;
  text-align: center;
}
.sub-menu li a {
  margin: 40px 5px;
  text-align: center;
  color: white;
}

nav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  margin-top: 6px;
  z-index: 1000;
  background-color: rgb(46, 45, 45);
}

a.active,
a:hover {
  background: #1a9bff;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

button:hover {
  background-color: #1a9bff;
}

.list {
  margin-top: 10rem;
  padding-left: 1rem;
  font-size: 0.9rem;
}

.close {
  transform: rotate(180deg);
  transition: all 0.4s ease-in;
}
.close .line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
  transition: all 0.4s ease-in;
}
.close .line:nth-child(2) {
  opacity: 0;
}
.close .line:last-child {
  transform: rotate(-45deg) translate(7px, -8px);
  transition: all 0.4s ease-in;
}

.hamburger {
  transition: all 0.4s ease-in;
}

@keyframes slidein {
  from {
    opacity: 0.1;
  }
  10% {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
.responsive {
  display: none;
}

@media (max-width: 1000px) {
  .responsive {
    display: block;
  }

  .responsive-nav {
    display: flex;

    background-color: #a52a2a;
    height: 55px;
  }

  .responsive-logo {
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    margin-left: 0.8rem;
    height: 3rem;
    position: relative;
    top: 2px;
  }

  .line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: white;
    margin: 3px;
  }

  .menu {
    display: flex;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    z-index: 100000;
  }
  .flex {
    display: none;
  }
  .responsive-title {
    position: relative;
    top: 17px;
    height: 3rem;
    align-items: center;
    margin-left: 0.6rem;
    color: rgb(240, 235, 235);
  }

  .mobile-head {
    position: relative;
    display: inline-block;
    font-size: 16px;
    top: -12px;
  }
  .mobile-head-footer {
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: -20px;
    color: rgb(219, 219, 22);
  }
  .active-responsive {
    background-color: rgba(2, 2, 2, 0.589);
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    transition: all 0.4s ease-in;
    padding: 5px;
    top: 7px;
    margin-right: 5px;
  }

  .column {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 0;
  }

  .mobile-links {
    display: flex;
    width: 13rem;
    flex-flow: column wrap;
    align-items: flex-start;
    height: 100vh;
    transition: all 0.6s ease-out;
    background-color: #a52a2a;
    z-index: 10000000;
    display: none;
    position: relative;
  }

  .nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 2px solid rgba(255, 255, 255, 0.349);
    width: 100%;
  }

  .nav-item:first-child {
    margin-top: 0rem;
    border-top: none;
  }
  .nav-item:last-child {
    margin-top: 0rem;

    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
  }
  .anchor-item:visited,
  .anchor-item:link {
    color: rgb(224, 221, 221);
    position: relative;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .update-link:visited,
  .update-link:link {
    color: black;
  }
  .update {
    height: 3.2rem;
    background-color: rgb(233, 230, 230);
  }
  .show {
    display: flex;
    animation-duration: 0.5s;
    animation-name: slidein;
    opacity: 1;
  }

  .close {
    transform: rotate(180deg);
    transition: all 0.4s ease-in;
  }
  .close .line:first-child {
    transform: rotate(45deg) translate(5px, 8px);
    transition: all 0.4s ease-in;
  }
  .close .line:nth-child(2) {
    opacity: 0;
  }
  .close .line:last-child {
    transform: rotate(-45deg) translate(4px, -8px);
    transition: all 0.4s ease-in;
  }
}
@media (max-width: 435px) {
  .mobile-head {
    font-size: 16px;
  }
  .mobile-head-footer {
    font-size: 11px;
  }
  .message-short {
    font-size: 43px;
  }
  .message-long {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .mobile-head {
    font-size: 15px;
  }
  .mobile-head-footer {
    font-size: 12px;
  }
  .message-short {
    font-size: 39px;
  }
  .message-long {
    font-size: 16px;
    width: 95%;
  }
}

/* 
START HERE */

.card img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

.main p {
  margin: 0;
  padding: 1em 0;
}

#showcase {
  position: relative;
  min-height: 450px;
  color: #fff;
  text-align: center;
  z-index: -1;
}

#showcase .bg-image {
  position: absolute;
  /* background: #333
    url("https://static.pexels.com/photos/248515/pexels-photo-248515.png"); */

  background-image: url("../img/backgrounds/notice-board.jpg");
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.4;
}

.recruiting {
  background-color: rgb(67, 67, 67);
  color: white;
}

#showcase h1 {
  padding-top: 90px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em 3rem;
}

#section-a {
  background: #eaeaea;
  color: #333;
}

/* #section-b {
  padding: 2em 1em 1em;
} */

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

#section-d .box {
  padding: 2em;
  color: #fff;
}
#section-d .box:first-child {
  background: #2690d4;
}

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
  /* .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  } */

  /* #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  } */

  #showcase {
    position: relative;
    min-height: 450px;
    color: #fff;
    text-align: center;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 100%;
  }
}
